<nav class="navbar navbar-expand-lg navbar-dark" style="background: rgb(16, 33, 54);">
    <div class="container-fluid">
        <a class="navbar-brand n" href="#"><img src="../../assets/house.png" style="width: 30px; height: 30px; color: white;"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">            
            <strong class="navbar-text text-white">
                Administrador
            </strong>
        </div>
        <a class="navbar-brand n" href="#"><img src="../../assets/logout.jpg" style="width: 20px; height: 25px; color: white;" /></a>
    </div>
</nav>

<div class="home d-flex">
    <div class="sidebar text-center" style="background: rgb(16, 33, 54);">
        <div>            
            <button class="btnSideBar btn btn-outline-light mt-2">Tareas</button>
            <button class="btnSideBar btn btn-outline-light mt-2">Proyectos</button>
            <button class="btnSideBar btn btn-outline-light mt-2">Usuarios</button>            
            <button class="btnSideBar btn btn-outline-light mt-2">Ver más</button>
        </div>
    </div>
    <div class="menuCards col-10">    
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti maiores dolor possimus commodi reprehenderit vel dolorum ratione provident perferendis laborum aut, est necessitatibus, iure odio cumque enim eligendi. Molestiae, vel?
        Facilis architecto illum debitis expedita alias dolorum est natus, libero accusamus illo ipsum amet! Sint qui tempora veniam quos consequatur corporis mollitia! Cum libero et natus cupiditate, ullam ipsum suscipit!
        Nisi libero nulla, eveniet similique ea porro asperiores quo deleniti quisquam id omnis voluptas illum sint velit beatae quos a optio nesciunt enim facilis nam. Neque autem nihil maxime officia?
        Quae, dolor, laborum consectetur dicta explicabo numquam beatae vero in incidunt quas, aliquid quo sunt perferendis animi dolores. Ipsa dolore soluta consequatur nostrum odit eveniet fugit quae necessitatibus error explicabo!
        Vitae facere similique praesentium aspernatur earum, molestias reprehenderit illo eveniet! Nesciunt debitis consectetur architecto inventore iure dolore quis animi unde doloremque. Tempore incidunt aliquam sint, fugiat minima provident consectetur sit!
        Saepe fugit, explicabo praesentium sequi vel repudiandae, voluptatem perferendis accusamus tenetur magni velit aperiam corporis dolor, voluptates ratione qui beatae maiores hic possimus quo! Blanditiis adipisci repudiandae eum nulla totam!
        Nemo impedit ut perspiciatis illum natus vel. Sit architecto temporibus dolorem doloremque nemo, soluta cumque repudiandae. Enim maxime repellat exercitationem quasi adipisci neque harum quam, magni, repudiandae veritatis rem tenetur!
        Velit quam officia cumque! Expedita ea et voluptatibus in, vel totam amet, aut a labore quisquam debitis tempore, mollitia ratione tempora placeat! Id libero, rem quis aut maxime voluptatibus ipsam!
        Dolorum dolores libero quaerat voluptates voluptate, laborum ipsam doloremque! Vitae rerum ad molestias facere quas voluptates earum tempore placeat laudantium veniam amet hic doloremque possimus blanditiis fugit nam, tenetur debitis?
        Illo maxime libero impedit quasi, quis ad quod sit enim eum temporibus provident eius nihil tempora sapiente consectetur, eligendi, porro delectus et aut quia! Earum veritatis ea necessitatibus aspernatur illum.
        Provident earum ad ex, rerum, doloremque possimus voluptatum neque nihil sapiente voluptatibus distinctio soluta dolorem odio, minima expedita! Officia beatae nulla, dolorum distinctio eos dignissimos nemo quibusdam cumque recusandae quisquam.
        In, iusto mollitia rem voluptatibus excepturi nesciunt tempore pariatur numquam illum maxime. Voluptatum culpa laborum, saepe distinctio voluptates magni omnis, quo ad obcaecati iusto, magnam sequi! Obcaecati et voluptatibus incidunt.
        Necessitatibus laudantium, neque quos aut debitis dolorum illo fugiat earum reiciendis explicabo excepturi ipsum blanditiis facilis inventore dolorem ut ea praesentium nemo alias odio dicta, minima doloribus. Ea, quod a.
        Perferendis ab incidunt qui cumque tenetur voluptatibus error id libero, atque non pariatur repellendus, odio voluptas ea sed, est assumenda fuga voluptate deleniti! Aliquam consectetur ipsum fugiat dolor neque laborum!
        Vero nisi repudiandae neque quia vel, officiis nostrum sequi fugit et a odit adipisci, exercitationem vitae beatae optio veritatis? Facere, veritatis. Hic odit nihil voluptatum ab, fuga perferendis ullam deleniti?
        Laborum beatae eos cumque ipsa rerum facere reiciendis corporis pariatur quidem deleniti quaerat obcaecati, suscipit vel ab tenetur animi non sint consectetur, molestias illo provident dolore consequuntur quos. Quo, sed.
        Molestiae ab quisquam ut porro amet molestias doloribus, repellendus incidunt quam ex numquam assumenda unde consequatur ipsum totam nemo dolores, itaque quia aspernatur ipsam cupiditate animi mollitia dignissimos? Excepturi, accusantium?
        Odit ea vitae odio error. Eos doloribus repudiandae itaque in quibusdam, quod sint eveniet? Aspernatur, ut! Esse fuga, autem aliquid possimus dolor labore quod? Illum quibusdam magni beatae totam dignissimos?
        Unde dolorem voluptatem cupiditate enim, eligendi doloremque! Non veritatis, fugit hic earum fuga facilis eaque omnis illum totam, quod vitae aspernatur! Sint ab harum possimus animi, eveniet delectus blanditiis tenetur?
        Deserunt quae, non eum ad excepturi debitis ducimus quos dolorem unde quo et beatae voluptatem harum, ipsa, provident natus omnis. Delectus doloremque corporis excepturi reprehenderit adipisci. Eius quis laborum possimus?
    </div>
</div>