<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand n" href="#"><img src="../../assets/house.png" style="width: 30px; height: 30px; color: white;"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">            
            <strong class="navbar-text text-white">
                Usuario
            </strong>
        </div>
        <a class="navbar-brand n" href="#"><img src="../../assets/logout.jpg" style="width: 20px; height: 25px; color: white;" /></a>
    </div>
</nav>

<div class="home d-flex">
    <div class="sidebar bg-dark text-center">
        <div>            
            <button class="btnSideBar btn btn-outline-light mt-2">Tareas</button>
            <button class="btnSideBar btn btn-outline-light mt-2">Proyectos</button>                      
            <button class="btnSideBar btn btn-outline-light mt-2">Ver más</button>
        </div>
    </div>
    <div class="menuCards col-10">    
        <div class="grid col-10">
            <div class="card">
                <img src="../../assets/project1.jpg" class="card-img-top imgN" alt="">
                <div class="card-body">
                  <h5 class="card-title">Actividad 1</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark col-12">Tarea finalizada</a>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/project2.jpg" class="card-img-top imgN" alt="">
                <div class="card-body">
                  <h5 class="card-title">Actividad 2</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark col-12">Tarea finalizada</a>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/project3.jpg" class="card-img-top imgN" alt="">
                <div class="card-body">
                  <h5 class="card-title">Actividad 3</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark col-12">Tarea finalizada</a>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/project4.jpg" class="card-img-top imgN" alt="">
                <div class="card-body">
                  <h5 class="card-title">Actividad 4</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark col-12">Tarea finalizada</a>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/project5.jpg" class="card-img-top imgN" alt="">
                <div class="card-body">
                  <h5 class="card-title">Actividad 5</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark col-12">Tarea finalizada</a>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/project6.jpg" class="card-img-top imgN" alt="">
                <div class="card-body">
                  <h5 class="card-title">Actividad 6</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark col-12">Tarea finalizada</a>
                </div>
            </div>
        </div>
    </div>
</div>