<div class="body">
    <mat-card class="card-login">
        <div class="form">
            <div>
                <div class="text-center">
                    <h1 class="title mb-12">Login</h1>
                </div>                
                <div class="row g-3 align-items-center mt-12">
                    <div class="col-12">
                        <label for="inputPassword6" class="col-form-label texto">Email</label>
                        <input type="email" id="inputPassword6" class="form-control input" aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-12">
                        <label for="inputPassword6" class="col-form-label texto">Password</label>
                        <input type="password" id="inputPassword6" class="form-control input"
                            aria-describedby="passwordHelpInline">
                        <button class="btn bg-dark col-12 mt-4 text-white" [routerLink]="['/dashboard']">Iniciar sesión</button>                        
                    </div>                
                </div>                
            </div>
        </div>
    
        <div class="image"></div>
    </mat-card>
</div>